{% extends 'employee/main.html' %}
{% load static %}


{% block pageContent %}
<!--
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Employee List</h5>

          <-- Default Table --
          <table class="table datatable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Age</th>
                <th scope="col">Start Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Brandon Jacob</td>
                <td>Designer</td>
                <td>28</td>
                <td>2016-05-25</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Bridie Kessler</td>
                <td>Developer</td>
                <td>35</td>
                <td>2014-12-05</td>
              </tr>
            </tbody>
          </table>
          <-- End Default Table Example ->
        </div>
      </div>
    </div>
  </div>
</section>
-->

<section class="section">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Employee Information</h5>

      <!-- General Form Elements -->
      <form class="row">
        <div class="col-lg-6">
          <!-- PERSONAL DATA -->
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">First name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="first_name">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Middle name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="middle_name">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Last name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="last_name">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Affix</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="affix">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label">Date of birth</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" name="birth_date">
            </div>
          </div>
          <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender1" value="Male" checked>
                <label class="form-check-label" for="gender1">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="gender2" value="Female">
                <label class="form-check-label" for="gender2">
                  Female
                </label>
              </div>
            </div>
          </fieldset>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Civil status</label>
            <div class="col-sm-10">
              <select class="form-select" aria-label="Default select example" name="civil_status">
                <option value="Single" selected>Single</option>
                <option value="Married">Married</option>
                <option value="Widowed">Widowed</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Regligion</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="religion">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name="email">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">Mobile number</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="mobile_number">
            </div>
          </div>
        </div>
        <!-- END OF PERSONAL DATA -->

        <!-- CONTACT INFORMATION -->
        <div class="col-lg-6">
          <div class="row mb-3">
            <label for="inputText" class="col-sm-3 col-form-label">Present Address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="present_address">
            </div>
          </div>
          <div class="row mb-5">
            <label for="inputText" class="col-sm-3 col-form-label">&nbsp;</label>
            <div class="col-md-5">
              <label for="inputProvince" class="form-label">Province</label>
              <select id="inputProvince" class="form-select" name="present_province">
                <option value="0" selected>Loading...</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="inputCity" class="form-label">City/Muni</label>
              <select id="inputCity" class="form-select" name="present_city">
              </select>
            </div>
          </div>
          
          <div class="row mb-3">
            <label for="inputText" class="col-sm-3 col-form-label">Provincial Address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="provincial_address">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-3 col-form-label">Landline number</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="landline_number">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-3 col-form-label">Office Address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="office_address">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-3 col-form-label">Emergency Contact</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="emergency_contact_person">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-3 col-form-label">Emergency Contact No.</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="emergency_contact_number">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputText" class="col-sm-3 col-form-label">Emergency Contact Relationship</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="emergency_contact_relationship">
            </div>
          </div>
        </div>
        <!-- END OF CONTACT INFORMATION -->
        <div class="col-lg-12">
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- <div class="col-lg-6">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Next of Kin</h5>

          <-- General Form Elements --
          <form>
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label">First name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label">Middle name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label">Last name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label">Affix</label>
              <div class="col-sm-10">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputDate" class="col-sm-2 col-form-label">Date of birth</label>
              <div class="col-sm-10">
                <input type="date" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Relationship</label>
              <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Phone number</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control">
                </div>
            </div>
          </form>

          <div class="row">
            <div class="col clearfix">
                <button type="button" class="btn btn-secondary float-end">
                    <i class="bi bi-person-plus-fill"></i>
                </button>
            </div>
          </div>
          
        </div>
    </div>
  </div> -->
</section>
{% endblock %}

{% block customJs %}
<script src="{% static 'js/location.js' %}"></script>
{% endblock %}